<!doctype html>
<html lang="jp">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header class="p-3 bg-info text-white">
    <!-- place navbar here -->
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"> -->
          <img class="bi me-2" width="40" height="32" role="img" src="image/shop2klogo.jpg" alt="">
          <!-- </svg> -->
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">ホーム</a></li>
          <li><a href="#" class="nav-link px-2 text-white">商品</a></li>
          <li><a href="#" class="nav-link px-2 text-white">発送</a></li>
          <li><a href="#" class="nav-link px-2 text-white">返品ー返金</a></li>
          <li><a href="#" class="nav-link px-2 text-white">問い合わせ</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="入力..." aria-label="検索">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">ログイン</button>
          <button type="button" class="btn btn-warning">登録</button>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="py-2 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">全部商品</h1>
          <p class="lead text-muted">何をお探しでしょうか</p>
          <p class="lead text-muted">キーボードから記入ください。</p>
          <p>
          <form class="col-lg-5 col-md-8 mx-auto">
            <select class="form-select form-select-lg mb-3" id="brand" aria-label=".form-select-lg example">

              <option selected>メーカーを選択ください</option>
              <option th:each="brand : ${brands}" th:text="${brand.brandName}" th:value="${brand.brandId}"></option>
              <!-- <option value="2">カワサキ</option>
              <option value="3">ヤマハ</option>
              <option value="3">スズキ</option> -->
            </select>
            <input type="search" class="form-control form-control-dark" placeholder="キーワード" aria-label="検索">
            <!-- </form> -->
            <button type="button" class="btn btn-warning my-3">新規</button>
            <button type="button" class="btn btn-success my-3">検索</button>
            <button type="button" class="btn btn-danger my-3">リセット</button>
          </form>
          </p>
        </div>
      </div>
    </section>
    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
          <div class="col" th:each="moto : ${motos}">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">社名: <span th:text="${moto.motoName}"></span></h5>
                <p class="card-text">評価: <span th:text="${moto.comment}"></span></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">No: <span th:text="${moto.motoNo}"></span></li>
                <li class="list-group-item">メーカー: <span th:text="${moto.brand.brandName}"></span></li>
                <li class="list-group-item">エンジン: <span th:text="${moto.cooling} + ${moto.cylinder}"></span></li>
                <li class="list-group-item">価格: <span th:text="${moto.price}"></span></li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">見る</a>
                <a href="#" class="card-link">Share</a>
              </div>
            </div>
          </div>
  </main>
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">ホーム</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">商品</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">発送</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">返品ー返金</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">問い合わせ</a></li>
    </ul>
    <p class="text-center text-muted">© 2023 Company, Inc</p>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>

</html>